
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DARIEN</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo.css') }}">


    <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#33333382;
  position: fixed;
  width: 100%;
  height:100px;

}

li {
  float: left;
   height: 100%;
   text-align: center;
   justify-content: center;
   display: grid;
   align-content: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}


.active {
  background-color: #4CAF50;
}
</style>
</head>
<body style="margin: 0;" >
<main class="container">

    <div class="contain">
        
        {% block content %}{% endblock %}
    </div>
    <div class="container-fluid" id="footer">

    </div>

</main>

</body>
</html>
