{% extends 'bootstrap/base.html' %}


{% block content %}
<ul>

    <li><a href="#home">Conócenos, Cultura, Paraisos y Hospedajes</a></li>
</ul>


    <div class="container-fluid" >

        <img src="{{ url_for('static', filename='darien/img0.png') }}" alt="" style="width: 100%;height: 100%;">

    </div>
    <div class="container-fluid" >

        <img src="{{ url_for('static', filename='darien/img1.png') }}" alt="" style="width: 100%;height: 100%;">

    </div>
 <div class="container-fluid" >

        <img src="{{ url_for('static', filename='darien/img2.png') }}" alt="" style="width: 100%;height: 100%;">

    </div>
    <div class="container-fluid" >

        <img src="{{ url_for('static', filename='darien/img3.png') }}" alt="" style="width: 100%;height: 100%;">

    </div>
 <div class="container-fluid" >

        <img src="{{ url_for('static', filename='darien/img4.png') }}" alt="" style="width: 100%;height: 100%;">

    </div>
    <div class="container-fluid" >

        <img src="{{ url_for('static', filename='darien/img5.png') }}" alt="" style="width: 100%;height: 100%;">

    </div>
 <div class="container-fluid" >

        <img src="{{ url_for('static', filename='darien/img6.png') }}" alt="" style="width: 100%;height: 100%;">

    </div>
    <div class="container-fluid" >

        <img src="{{ url_for('static', filename='darien/img7.png') }}" alt="" style="width: 100%;height: 100%;">

    </div>
 <div class="container-fluid" >

        <img src="{{ url_for('static', filename='darien/img8.png') }}" alt="" style="width: 100%;height: 100%;">

    </div>
    <div class="container-fluid" id="ma" >

        <img src="{{ url_for('static', filename='darien/img9.png') }}" alt="" style="width: 100%;height: 100%;">

    </div>
<div class="container-fluid" >

        <img src="{{ url_for('static', filename='darien/img10.png') }}" alt="" style="width: 100%;height: 100%;">

    </div>

{% endblock %}



